/* 
p_captionStyles.css 
Lilibeth Clark
9 Dec 2021

For: きくお - ソワカの声.vtt, p_caption.html
*/

body {
	background: linear-gradient(#CFFFFF, #CFC5FF, #CFC5FF);
}

h1, h2 {
	text-align: center;
}

div.video {
	width: 100%;
}

video {
	width: 100%;
}

article {
	display: flex;
}

p a {
	border: 2px solid purple;
	padding: 4px;
	border-radius: 10px;
	text-decoration: none;
}

p a:hover {
	background-color: purple;
	color: rgba(243, 222, 248, 97);
}

p.buttons {
	text-align: center;
	margin: 4px;
	width: 100%;
}

@media only screen and (max-width: 480px) {

	img {
		flex: 1 2 100px;
		border: none;
	}

	div.box {
		flex: 2 1 100px;
	}
	
	div.box p {
		text-indent: 2px;
	}
	
	h1 {
		font-size: 2em;
	}
	
	p.buttons a {
		display: block;
		float: left;
	}
}

@media only screen and (max-width: 768px) {
	img {
		flex: 1 2 100px;
		border: none;
	}
	
	div.box {
		flex: 3 1 100px;
	}
	
	div.box p {
		text-indent: 25px;
	}
	
	p.buttons {
		text-align: center;
		margin: 4px;
		width: 100%;
	}
	
}

@media only screen and (min-width: 769px) {
	img {
		flex: 1 2 100px;
		border: none;
		margin: 10px;
	}
	
	div.box {
		flex: 3 1 100px;
		margin: 10px;
	}
	
	div.box p {
		text-indent: 25px;
	}
	
	p.buttons {
		text-align: center;
		margin: 4px;
		width: 100%;
	}
}
