/*
   Portfolio editing styles (for page editing, will be removed in final project)
   Author: Lilibeth Clark
   Date:   15 Dec 2021

   Filename:         p_edit.css

	colors:
	A  - rgba(243, 222, 248, 97)
	B - rgba(209, 170, 218, 85)
	C - rgba(162, 197, 240, 94)
	D - rgba(133, 218, 183, 85)
	E - rgba(186, 250, 220, 98)
*/

h1, h2, h3, p, img, nav ul {
	border: 1px solid red;
}

div {
	border: 1px solid blue;
}

article, footer, nav, nav ul li {
	border: 1px solid green;
}

body {
	border: 1px solid yellow;
}